@page
@model asp.net_projectMGKNGG.SearchModel
@{
    ViewData["Title"] = "Search Page";
}


<div class="col-12">

    <span class="h2 text-info">Wyszukanie zamówienia</span>

</div>

<div class="col-12 p-3 mt-3">
    <table id="DT_load" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Temat</th>
                <th>Zleceniodawca</th>
                <th>OpisZamowienia</th>
                <th>Data</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/orderList.js"></script>
}